[Desktop Entry]
Type=Application
Name=BindFS Mounts
Comment=Create and manage bindfs bind-mounts
Exec=/home/gdavid/Documents/Code/BindFS-GUI/bindfs-gui
Icon=drive-harddisk
Terminal=false
Categories=Utility;System;
StartupNotify=true
