[Desktop Entry]
Type=Application
Name=BindFS Mounts
Comment=Create and manage bindfs bind-mounts
Exec=bindfs-gui
Icon=folder-blue-sync
Terminal=false
Categories=Utility;System;
StartupNotify=true
Hidden=false
StartupWMClass=com.gdavid.BindfsGui
